{:deps  {thheller/shadow-cljs   {:mvn/version "2.11.18"}
         org.clojure/alpha.spec {:git/url "https://github.com/clojure/spec-alpha2.git"
                                 :sha     "99456b1856a6fd934e2c30b17920bd790dd81775"}
         gnl/ghostwheel         {:mvn/version "0.3.9"}}
 :paths ["src/main"]
 :aliases
 {:dev {:extra-deps  {binaryage/devtools   {:mvn/version "0.9.11"}
                      thheller/shadow-cljs {:mvn/version "2.11.18"}}
        :extra-paths ["src/dev"]
        :main-opts   ["-m" "shadow.cljs.devtools.cli"]}}}